@mixin glass {
  background: rgba(148, 161, 178, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.2px);
  -webkit-backdrop-filter: blur(4.2px);
  border: 1px solid rgba(148, 161, 178, 0.44);

  @media (prefers-color-scheme: light) {
    background: rgba(99, 99, 99, 0.11);
    border: 1px solid rgba(0, 0, 0, 0.44);
  }
}
