@use "../imports/settings.import" as *;
@use "../imports/tools.import" as *;

.navbar {
  @include customFlex(row, nowrap, space-between, center);
  &__logo {
    color: #fff;
    font-size: 1.3rem;
    font-weight: bolder;
    text-shadow: 2px 2px 2px $highlight;
  }
  &__github {
    @include customFlex(row, nowrap, normal, center);
    gap: 0.5rem;
    color: $main;
    background-color: $highlight;
    padding: 0.3rem 0.6rem;
    border-radius: 0.3rem;
    box-shadow: 2px 2px 6px $stroke;

    &:active {
      color: $stroke;
      box-shadow: 2px 2px 6px $stroke inset;
    }
    &:hover {
      color: $stroke;
    }
  }
}
