@use "../imports/settings.import" as *;
@use "../imports/tools.import" as *;

.options {
  @include customFlex(column, nowrap, normal, normal);
  gap: 0.4rem;

  &__title {
    font-size: 1.1rem;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
  }

  &__label {
    @include customFlex(row, nowrap, space-evenly, normal);
    gap: 2rem;
  }
  &__span {
    &__1 {
      color: $tertiary;
    }
    &__2 {
      color: $paragraph;
    }
  }
}

.alphabet {
  grid-area: alphabet;
}
.characters {
  grid-area: special;
}
