@use "../imports/tools.import" as *;
@use "../imports/settings.import" as *;

.header {
  background-image: url("https://cdn.pixabay.com/photo/2024/05/16/20/21/digital-8766930_1280.png");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;

  &__bg {
    background-color: #000000ab;
    height: inherit;
  }

  &__container {
    @include customFlex(column, nowrap, normal, normal);
    gap: 4rem;
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
  }
  &__h1 {
    text-align: center;
    font-weight: bolder;
    font-family: "Courier New", Courier, monospace;
    font-size: 2.5rem;
    color: $main;
  }

  &__info {
    @include customFlex(row, nowrap, center, center);
    gap: 2rem;

    &__img {
      width: 22rem;
    }

    &__paragraph {
      font-size: 1.1rem;
      color: $main;
    }
  }
  &__blank {
    display: block;
    height: 6rem;
  }
}

@media screen and (max-width: 900px) {
  .header {
    &__container {
      gap: 3rem;
    }

    &__info {
      @include customFlex(column, nowrap, center, center);
    }
  }
}
